USE [master]
GO
/****** Object:  Database [VBSS]    Script Date: 23.06.2022 10:29:47 ******/
CREATE DATABASE [VBSS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VBSS', FILENAME = N'C:\Users\Sezer VAROL\VBSS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VBSS_log', FILENAME = N'C:\Users\Sezer VAROL\VBSS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VBSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VBSS]
GO
USE [VBSS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutFeatures]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutFeatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AboutFeatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[State] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[BuildingNumber] [nvarchar](max) NULL,
	[FullAddress] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Selection] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[WarehouseId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[Size] [nvarchar](max) NULL,
	[BookTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MainCategoryId] [int] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adress1] [nvarchar](max) NULL,
	[Adress2] [nvarchar](max) NULL,
	[Phone1] [nvarchar](max) NULL,
	[Phone2] [nvarchar](max) NULL,
	[Mail1] [nvarchar](max) NULL,
	[Mail2] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Linkedin] [nvarchar](max) NULL,
	[Pinterest] [nvarchar](max) NULL,
	[GoogleMaps] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContactUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[InvoiceNo] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](max) NULL,
	[Page] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsGets]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsGets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[View] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.NewsGets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](max) NULL,
	[PoductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[AdressId] [int] NOT NULL,
	[CargoId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[Address_Id] [int] NULL,
	[Product_Id] [int] NULL,
	[Shipment_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OurWorkers]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurWorkers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[NameSurname] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OurWorkers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[RegisterDate] [datetime] NOT NULL,
	[Barcode] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[Tax] [float] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[ShelfId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelves]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[MainShelfId] [int] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Shelves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[SenderId] [int] NULL,
	[ReceiverId] [int] NULL,
	[Stock] [int] NULL,
	[SendTime] [datetime] NOT NULL,
	[ReceiveTime] [datetime] NULL,
	[Warehouse_Id] [int] NULL,
	[Process] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Shipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LicensePlate] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VizionAndMissions]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VizionAndMissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.VizionAndMissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 23.06.2022 10:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[OfficeHours] [nvarchar](max) NULL,
	[AccessHours] [nvarchar](max) NULL,
	[GoogleMaps] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Warehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutFeatures] ON 

INSERT [dbo].[AboutFeatures] ([Id], [Image], [Title], [Description]) VALUES (1, N'myboyresim2.png', N'VARBALSTORAGE Features & Benefits
', N'24 Hour Security Monitoring
')
INSERT [dbo].[AboutFeatures] ([Id], [Image], [Title], [Description]) VALUES (2, NULL, NULL, N'Digital Surveillance System')
INSERT [dbo].[AboutFeatures] ([Id], [Image], [Title], [Description]) VALUES (3, NULL, NULL, N'Access 7 Days a Week
')
SET IDENTITY_INSERT [dbo].[AboutFeatures] OFF
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [WarehouseId], [UserId], [Title], [Country], [City], [District], [Street], [PostCode], [BuildingNumber], [FullAddress], [Status], [Delete], [Selection]) VALUES (1, 1, 1, N'SezerEv', N'Türkiye', N'İstanbul', N'Esenyurt', N'Saadetdere', N'34510', N'104', N'saadetdere mahallaesi 4.sokak no:104 d:3 esenyurt/İstanbul', 1, 0, 0)
INSERT [dbo].[Addresses] ([Id], [WarehouseId], [UserId], [Title], [Country], [City], [District], [Street], [PostCode], [BuildingNumber], [FullAddress], [Status], [Delete], [Selection]) VALUES (2, 2, 4, N'GokhanEv', N'Türkiye', N'İstanbul', N'Beykoz', N'Şişecam', N'23321', N'11', N'asoıdhaskjdbasdasdadsdsa', 1, 0, 0)
INSERT [dbo].[Addresses] ([Id], [WarehouseId], [UserId], [Title], [Country], [City], [District], [Street], [PostCode], [BuildingNumber], [FullAddress], [Status], [Delete], [Selection]) VALUES (3, 2, 5, N'GokhanandSezer', N'Turkiye', N'IStanbul', N'Avcılar', N'Gumuspala', N'232125', N'115', N'sdadasdsadadassdassdassdasdasdsa', 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [NameSurname], [Email], [PostCode], [WarehouseId], [Note], [Phone], [Address], [Status], [Delete], [View], [Size], [BookTime]) VALUES (1, N'Onur Şen', N'asd@gmail.com', N'345', 1, N'selam', N'123', N'sdf', 1, 0, 1, N'big', CAST(N'2022-06-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [NameSurname], [Email], [PostCode], [WarehouseId], [Note], [Phone], [Address], [Status], [Delete], [View], [Size], [BookTime]) VALUES (2, N'Sezer  Varol', NULL, NULL, 1, N'seri köz', NULL, NULL, 1, 0, 1, N'large', CAST(N'2022-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [NameSurname], [Email], [PostCode], [WarehouseId], [Note], [Phone], [Address], [Status], [Delete], [View], [Size], [BookTime]) VALUES (3, N'Sezer  Varol', NULL, NULL, 1, N'seri köz', NULL, NULL, 1, 0, 1, N'large', CAST(N'2022-07-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [Description], [Status], [Delete], [Image]) VALUES (1, N'Marka', N'bu bır markadır.', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Status], [Delete], [Description], [MainCategoryId], [Image]) VALUES (1, N'Kuru Gıdalar', 1, 0, N'kuru gıda depo hali', 0, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Adress1], [Adress2], [Phone1], [Phone2], [Mail1], [Mail2], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Linkedin], [Pinterest], [GoogleMaps], [Status], [Delete], [Image]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, N'Müşteri ODaklılık', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, N'test6.png')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactUs] ON 

INSERT [dbo].[ContactUs] ([Id], [NameSurname], [Email], [Subject], [Message], [Status], [Delete], [View]) VALUES (1, N'Onur Şen', N'sezervarol78@gmail.com', N'Soğuk Depo Hakkında', N'123', 1, 0, 1)
INSERT [dbo].[ContactUs] ([Id], [NameSurname], [Email], [Subject], [Message], [Status], [Delete], [View]) VALUES (2, N'Onur Şen', N'sezervarol78@gmail.com', N'Soğuk Depo Hakkında', N'123', 1, 0, 1)
INSERT [dbo].[ContactUs] ([Id], [NameSurname], [Email], [Subject], [Message], [Status], [Delete], [View]) VALUES (3, N'Sabri Mor', N'sezervarol1078@gmail.com', N'NAber', N'bana yer ac', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[ContactUs] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsGets] ON 

INSERT [dbo].[NewsGets] ([Id], [Mail], [Date], [View], [Status], [Delete]) VALUES (3, N'beste@beste.com', CAST(N'2022-05-12T00:00:00.000' AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[NewsGets] OFF
GO
SET IDENTITY_INSERT [dbo].[OurWorkers] ON 

INSERT [dbo].[OurWorkers] ([Id], [Image], [NameSurname], [Title], [Description], [Status], [Delete]) VALUES (2, N'myvesika.jpeg', N'Sezer VAROL', N'Varbal General Manager', N'Boss', 1, 0)
INSERT [dbo].[OurWorkers] ([Id], [Image], [NameSurname], [Title], [Description], [Status], [Delete]) VALUES (4, N'admin3.jpg', N'Gokhan HASBAL', N'Varbal Ceo', N'Boss', 1, 0)
INSERT [dbo].[OurWorkers] ([Id], [Image], [NameSurname], [Title], [Description], [Status], [Delete]) VALUES (5, N'ahmet2.png', N'Ahmet ŞEKERCi', N'Varbal Manager', N'Co founder', 1, 0)
SET IDENTITY_INSERT [dbo].[OurWorkers] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Name], [Status], [Delete]) VALUES (1, N'Admin', 1, 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Status], [Delete]) VALUES (2, N'Employee', 1, 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Status], [Delete]) VALUES (3, N'User', 1, 0)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [RegisterDate], [Barcode], [Price], [Stock], [Tax], [CategoryId], [BrandId], [ShelfId], [WarehouseId], [Status], [Delete], [View], [Image]) VALUES (1, N'Ürün Ürün Ürün', N'sdfıdsjklfdjsılföjsd', CAST(N'2022-06-16T08:42:09.913' AS DateTime), N'VB-339d552b', 52.5, 88, 10, 1, 1, 1, 1, 1, 0, 1, N'3c8f6c36-4-cekirdek.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Shelves] ON 

INSERT [dbo].[Shelves] ([Id], [Name], [Description], [Status], [Delete], [MainShelfId], [Image]) VALUES (1, N'Çekirdek ', N'Çekirdek Rafı', 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Shelves] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([Id], [Description], [Status], [Delete], [View], [ProductId], [UserId], [VehicleId], [SenderId], [ReceiverId], [Stock], [SendTime], [ReceiveTime], [Warehouse_Id], [Process]) VALUES (1, N'Fistiklar geliyo hocam', 0, 0, 1, 1, 9, 1, 1, 2, 3, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, N'Yola Çıktı')
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Image], [Title], [Description], [Link], [Status], [Delete]) VALUES (1, N'depo1.jpg', NULL, NULL, N'#', 1, 0)
INSERT [dbo].[Sliders] ([Id], [Image], [Title], [Description], [Link], [Status], [Delete]) VALUES (4, N'depo2.jpg', NULL, NULL, N'#', 1, 0)
INSERT [dbo].[Sliders] ([Id], [Image], [Title], [Description], [Link], [Status], [Delete]) VALUES (5, N'raf1.jpg', NULL, NULL, N'#', 1, 0)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Name], [Surname], [Email], [Password], [Status], [Delete], [View], [PermissionId], [Phone], [Image], [Code], [RegistrationDate]) VALUES (1, N'SV', N'Sezer', N'Varol', N'sezervarol78@gmail.com', N'12345', 1, 0, 1, 1, N'5355023602', N'7138ac6c-e-myvesika.jpeg', N'cd917135', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Name], [Surname], [Email], [Password], [Status], [Delete], [View], [PermissionId], [Phone], [Image], [Code], [RegistrationDate]) VALUES (4, N'gh', N'gokhan', N'hasbal', N'gk@gk.com', N'1234', 1, 0, 1, 1, N'5355023601', N'382c4fa3-2-admin2.jpeg', NULL, CAST(N'2022-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Name], [Surname], [Email], [Password], [Status], [Delete], [View], [PermissionId], [Phone], [Image], [Code], [RegistrationDate]) VALUES (5, N'AŞ', N'Ahmet', N'Şeker', N'sekerciahmet@gmail.com', N'123', 1, 0, 1, 2, N'0535555555', N'c47988ae-6-ahmet.png', N'93d19031', CAST(N'2022-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([Id], [Name], [LicensePlate], [Type], [Status], [Delete]) VALUES (1, N'Mercedes', N'78AAY321', N'Kamyon', 1, 0)
INSERT [dbo].[Vehicles] ([Id], [Name], [LicensePlate], [Type], [Status], [Delete]) VALUES (2, N'Volvo', N'34SZR78', N'Kamyon', 1, 0)
INSERT [dbo].[Vehicles] ([Id], [Name], [LicensePlate], [Type], [Status], [Delete]) VALUES (3, N'Doblo', N'78SV78', N'Kamyon', 1, 0)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[VizionAndMissions] ON 

SET IDENTITY_INSERT [dbo].[VizionAndMissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([Id], [Name], [Description], [Status], [Delete], [Image], [Email], [Phone], [OfficeHours], [AccessHours], [GoogleMaps]) VALUES (1, N'Sezer', N'Decathlon Depo', 1, 0, N'default-warehouse.png', N'varbalstorage@gmail.com', N'05355023602', N'08:00 / 17:00', N'06:00/22:00', N'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.617502228328!2d28.58571601505069!3d41.164696979285274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55731e4751a85%3A0x6407b984a0595110!2sULUSAL%20ANTREPO%20HADIMK%C3%96Y!5e0!3m2!1str!2str!4v1654716666798!5m2!1str!2str')
INSERT [dbo].[Warehouses] ([Id], [Name], [Description], [Status], [Delete], [Image], [Email], [Phone], [OfficeHours], [AccessHours], [GoogleMaps]) VALUES (2, N'Gokhjan', N'Gokhan''s depo', 1, 0, N'default-warehouse.png', N'sdhabkjdsa', N'05355023601', N'08:00 / 17:00', N'07:00/22:00', N'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.617502228328!2d28.58571601505069!3d41.164696979285274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55731e4751a85%3A0x6407b984a0595110!2sULUSAL%20ANTREPO%20HADIMK%C3%96Y!5e0!3m2!1str!2str!4v1654716666798!5m2!1str!2str')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
/****** Object:  Index [IX_UserId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Addresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseId] ON [dbo].[Addresses]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseId] ON [dbo].[Bookings]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[Invoices]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Logs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Id]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_Address_Id] ON [dbo].[Orders]
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermissionId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_PermissionId] ON [dbo].[Orders]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[Orders]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shipment_Id]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_Shipment_Id] ON [dbo].[Orders]
(
	[Shipment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShelfId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_ShelfId] ON [dbo].[Products]
(
	[ShelfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseId] ON [dbo].[Products]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Shipments]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReceiverId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_ReceiverId] ON [dbo].[Shipments]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SenderId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_SenderId] ON [dbo].[Shipments]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Shipments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_VehicleId] ON [dbo].[Shipments]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Warehouse_Id]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_Warehouse_Id] ON [dbo].[Shipments]
(
	[Warehouse_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermissionId]    Script Date: 23.06.2022 10:29:47 ******/
CREATE NONCLUSTERED INDEX [IX_PermissionId] ON [dbo].[Users]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [Selection]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [BookTime]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [VehicleId]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [SenderId]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [ReceiverId]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [SendTime]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ReceiveTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Addresses_Address_Id] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Addresses_Address_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Permissions_PermissionId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Shipments_Shipment_Id] FOREIGN KEY([Shipment_Id])
REFERENCES [dbo].[Shipments] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Shipments_Shipment_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Shelves_ShelfId] FOREIGN KEY([ShelfId])
REFERENCES [dbo].[Shelves] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Shelves_ShelfId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Warehouses_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Warehouses_ReceiverId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Warehouses_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Warehouses_SenderId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Warehouses_Warehouse_Id] FOREIGN KEY([Warehouse_Id])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Warehouses_Warehouse_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Permissions_PermissionId]
GO
USE [master]
GO
